@model Gerobra.Models.tipo_servico

@{
    ViewBag.Title = "Excluir Tipo de Serviço";
}

    <h2>Excluir Tipo de Serviço</h2>

<h3>Você realmente quer Excluir este tipo de serviço?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
